*
{
    margin: 0;
    padding: 0;
}

html,
body
{
  width: 100%;
  overflow: hidden;
  background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

audio{
  visibility: hidden;
}

#enter{
  width: 40vh;
  height: 20vh;
  margin: 40% auto;
  font-size: 10vh;
}
