canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  width: 100vw;
  color: white;
  padding: 120px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: Arial, Helvetica, sans-serif;
  opacity: 80%;
}

h1, h2, h3 {
  grid-column: 2 / 8;
  margin: 50px;
  background-color: black;
  padding: 10px;
}

p, ul, ol {
  grid-column: 4 / span 5;
  margin: 50px;
  background-color: white;
  color: black;
  padding: 10px;
}

li {
  padding: 10px;
  margin: 15px;
  margin-left: 25px;
}

ul, ol {
  grid-column: 6 / span 5;

}
